.sidebar-background {
    width: 15%;
    height: 100vh;
    padding: 1rem;
    background-color: #434c56;
}

.sidebar-name{
    text-align: center;
    text-decoration-line: none;
    font-family: Arial;
    text-size-adjust: 50px;
}